.input1 {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    color: #666;
}

.searchBus {
    margin-left: 800px;
    margin-top: 100px;
    height: 300px;
    width: 300px;
}

.searchButton {
    margin: 10px;
    padding: 30px;
    background-color: #d74f57;
    font-weight: 300;
    color: white;
    border-radius: 50%;
    margin-left: 90px;
}

input {
    margin: 10px;
}

